<div class="blog-wrapper">
  <div class="container">
    <div class="p-30">
      <h3 class="text-center m-b-20"><%= @post.title %></h3>
      <div class="post-detail">        
        <%= @post.content %>
      </div>        
    </div>
    
    <blockquote class="p-30">
      If you have any questions you can write it on <b>thehustlingbears@gmail.com</b> Or <br> Let's connect on <a href="https://twitter.com/aarvy_me">
      Twitter </a>
    </blockquote>

    <hr>
    <footer class="text-center text-small p-30">
      The above content is reserved with <a href="https://thehustligbears.com">thehustligbears.com</a>
      <p>
        You received this email because you signed up for <a href="https://aarvy.me/hustling-bear-newsletter">Organic Growth Strategies</a> on ProductHunt.com
      </p>
    </footer>
  </div>
</div>